
.icon-temperature:before { content: '\e800'; } /* '' */
.icon-hail-inv:before { content: '\e801'; } /* '' */
.icon-temperatire:before { content: '\e802'; } /* '' */
.icon-chart-area:before { content: '\e803'; } /* '' */
.icon-chart-line:before { content: '\e804'; } /* '' */