<!DOCTYPE html>
<html>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/amcharts.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/serial.js" type="text/javascript"></script>
	<script src="temperature.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="temperature.css" />
	<link rel="stylesheet" type="text/css" href="icon/fontello/css/fontello.css" />

	<head>
		<title>Micka's home</title>
	</head>

	<body>
		<div id="header">
			<div class="title">Micka's Home Sensors</div>
		</div>
		<div id="app">
			<div ng-app="sensorsApp">
				<div ng-controller="SensorGlobal">
					<div id="lastUpdateDiv" style="color:red">{{lastUpdate}}</div>
					<div id="tempDataDiv">{{tempData}}</div>
					<div id="humidityDataDiv">{{humidityData}}</div>
				</div>
				<div ng-controller="SensorListCtrl">
					<div id="sensors">
						<div id="sensor" ng-repeat="sensor in sensors">
							<div id="sensorName">
								<div class="sensorName">Sensor {{sensor.id}}</div>
							</div>
							<div id="sensorDatas">
								<div class="sensorLocation">loc: {{sensor.name}}</div>
								<div id="sensorData" ng-repeat="data in sensor.data">
									<div class="dataIcon">
										<div ng-if="data.unit.id == 1" class="icon-temperatire"></div>
										<div ng-if="data.unit.id == 2" class="icon-hail-inv"></div>
									</div>
									<div class="dataValue">
										<span>{{data.value}} {{data.unit.value}}</span>
									</div>
								</div>
							</div>
							<div id="displayChart">
								<button ng-click="openChart(sensor)">Chart</button>
							</div>
						</div>
					</div>
				</div>
				<div>{{someField}}</div>
				<div id="chartdiv" style="width:100%; height:500px;"></div>
				</div>
			</div>
		</div>
	 </body>
</html>

